<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/admin/main.css">
    <link rel="stylesheet" href="../../css/darkMode.css">
    <link rel="stylesheet" href="../../css/admin/header.css">
    <link rel="stylesheet" href="../../css/admin/responsive.css">
    <link rel="stylesheet" href="../../css/admin/np.finance.css">
    <link rel="stylesheet" href="../../css/admin/user.css">
    <link rel="stylesheet" href="../../css/admin/inventory.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/admin/dashboard.module.js"></script>
</head>

<body>

    <%- include('../partials/admin.header.ejs') %>
        <!-- MAIN SECTION STARTS HERE  -->
        <main class="main box" data-app-page="stock">
            <div class="userContainer uform">
                <h4 class="uppercase">Stock</h4>
                <div class="side-btn flex">
                    <div class="filter">
                        <span class="btn" onclick="(location.reload())"><svg height="25px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="25px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M28,16c-1.219,0-1.797,0.859-2,1.766C25.269,21.03,22.167,26,16,26c-5.523,0-10-4.478-10-10S10.477,6,16,6  c2.24,0,4.295,0.753,5.96,2H20c-1.104,0-2,0.896-2,2s0.896,2,2,2h6c1.104,0,2-0.896,2-2V4c0-1.104-0.896-2-2-2s-2,0.896-2,2v0.518  C21.733,2.932,18.977,2,16,2C8.268,2,2,8.268,2,16s6.268,14,14,14c9.979,0,14-9.5,14-11.875C30,16.672,28.938,16,28,16z" /></svg> 
                        </span>
                    </div>

                    <!-- <div class="filter">
                        <span class="btn" onclick="options()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="sliders-v-alt" class="svg">
                                <path fill=""
                                    d="M20,8.18V3a1,1,0,0,0-2,0V8.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V13.82a3,3,0,0,0,0-5.64ZM19,12a1,1,0,1,1,1-1A1,1,0,0,1,19,12Zm-6,2.18V3a1,1,0,0,0-2,0V14.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V19.82a3,3,0,0,0,0-5.64ZM12,18a1,1,0,1,1,1-1A1,1,0,0,1,12,18ZM6,6.18V3A1,1,0,0,0,4,3V6.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V11.82A3,3,0,0,0,6,6.18ZM5,10A1,1,0,1,1,6,9,1,1,0,0,1,5,10Z">
                                </path>
                            </svg>
                        </span>
                        <div class="filter-options hide">
                            <p class="uppercase" onclick="showInventoryCtn('userInventoryCtn',this)">Consumables</p>
                            <p class="uppercase" onclick="showInventoryCtn('leftInventoryCtn',this)">Leftovers</p>
                        </div>
                    </div> -->
                    <div class="addItem">
                        <button class="uppercase" onclick="openStockExpense()" id="">
                            <span>Add item</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                                <path fill="##000000"
                                    d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                                </path>
                            </svg>
                        </button>
                        <!-- <div class="add-btn flex hide">
                            <p class="uppercase" onclick="openInventoryExpense()">Inventory</p>
                            <p class="uppercase" onclick="openStockExpense()">stock</p>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="inventory-container" id="userInventoryStockCtn">
                <% data?.forEach((e)=>{ %>
                    <div class="inventory-item flex">
                        <div class="inventory-details">
                            <p class="inName uppercase">Ref No.</p>
                            <p class="inData">
                                <%= e.reference_no %>
                            </p>
                        </div>
                        <div class="inventory-details">
                            <p class="inName uppercase">Project name</p>
                            <p class="inData">
                                <%= e.work_name %>
                            </p>
                        </div>
                        <div class="inventory-details">
                            <p class="inName uppercase">Client name</p>
                            <p class="inData">
                                <%= e.deal_name %>
                            </p>
                        </div>
                        <div class="inventory-details">
                            <p class="inName uppercase">Location</p>
                            <p class="inData">
                                <%= e.city %>
                            </p>
                        </div>
                        <div class="inventory-details">
                            <p class="inName uppercase">Deadline</p>
                            <p class="inData">
                                    <%= e.np_deadline?e.np_deadline:'N/A' %>
                                </p>
                        </div>
                        <div class="inventory-details" onclick="showInventory(<%= e.id %>,'userInventoryStockCtn',this)">
                            <p class="arrow-side"><svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" id="info" class="svg"><path fill="" d="M12,10a1,1,0,0,0-1,1v6a1,1,0,0,0,2,0V11A1,1,0,0,0,12,10Zm0-4a1.25,1.25,0,1,0,1.25,1.25A1.25,1.25,0,0,0,12,6Z"></path></svg></p>
                        </div>
                    </div>
                    <% }) %>
            </div>

            <div class="data-info">
                <%- include('../partials/pagin.ejs') %>
            </div>

            <!-- --DROPDOWN-- -->
            <div class="inventoryList one">
                <div class="inventoryList-details two">
                    <form action="" id="inserterForm">
                        <div class="inStock">
                            <p class="uppercase">Style Perfect Interior (Inventory)</p>
                        </div>
                        <!-- ---SELECT A PROJECT--  -->
                        <div class="ref-list flex">
                            <label for="">Select Ref No.</label>
                            <select name="ref" id="refNo" onchange="proceedDiv(this.value)">
                                <option value="" disabled>Select Ref No.</option>
                            </select>
                        </div>

                        <!-- -- PROJECT DETAILS--  -->
                        <div class="project-inv">
                            <div class="field">
                                <label for="" class="uppercase">Project Name</label>
                                <p class="pro-name uppercase">Residential Commercial Gym</p>
                            </div>

                            <!-- --PARTICULARS-- -->
                            <div class="inv-particular flex common"><!-- Append ANOTHER ITEM -->
                                <div class="field">
                                    <label for="" class="uppercase">Particulars</label>
                                    <select name="particulars" id="particulars">
                                        <option value="_">Select</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Quantity</label>
                                    <input type="text" name="quantity" id="quantity">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Amount(In Rs)</label>
                                    <input type="text" name="amount" id="amount">
                                </div>
                                <!-- --------------  -->
                            </div>
                            <!-- ----------------------------  -->
                            <!-- <div class="inv-particular flex custom">Append custom ITEM -->
                            <!-- <div class="field">
                                    <label for="" class="uppercase">Particulars</label>
                                    <input type="text" name="particulars" id="">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Quantity</label>
                                    <input type="text" name="quantity" id="">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Amount(In Rs)</label>
                                    <input type="text" name="amount" id="">
                                </div> -->
                            <!-- --------------  -->
                            <!-- </div> -->
                        </div>
                        <!-- -----------  -->

                        <!-- ---ADD ANOTHER FIELD BUTTON--  -->
                        <div class="inventory-add-item flex">
                            <button class="uppercase" type="button" onclick="addField()" id="">
                                <span>Add another field</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                                    <path fill="##000000"
                                        d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                                    </path>
                                </svg>
                            </button>
                            <button class="uppercase" type="button" onclick="addCustomField()" id="">
                                <span>Add custom field</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                                    <path fill="##000000"
                                        d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <div class="inventory-btn flex">
                            <button class="uppercase" type="submit" onclick="addInventoryItem(event)">update</button>
                            <button class="uppercase" type="reset" onclick="closeInventoryExpense()">cancel</button>
                        </div>
                    </form>
                </div>


            </div>
             <!-- --EDIT INVENTORY--  -->
             <div class="editInventory one">
                <div class="edit-inventory-popup two">
                    <div class="field">
                        <p class="uppercase">Ref No</p>
                        <p class="uppercase ref"></p>
                    </div>
                    <div class="flex">
                        <div class="field">
                            <label for="" class="uppercase">Particulars</label>
                            <input type="text" name="particulars" id="particular" >
                        </div>
                        <div class="field">
                            <label for="" class="uppercase">Quantity</label>
                            <input type="text" name="quantity" id="quantity" >
                        </div>
                        <div class="field">
                            <label for="" class="uppercase">Amount</label>
                            <input type="text" name="amount" id="amount" >
                        </div>
                    </div>
                    <div class="drop-btn flex">
                        <button type="button" class="uppercase" onclick="UpdateParticular(this.parentElement)">update</button>
                        <button type="reset" class="uppercase" onclick="Close_editParticulars()">Cancel</button>
                    </div>
                </div>
            </div>

            <!-- --INVENTORY LISTS-- -->
            <div class="inventoryList-popup one">
                <!-- --PARTICULARS DETAILS-- -->
                <div class="particularDetails two">
                    <p class="pussy" onclick="closeInventory()"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" id="times" class="svg">
                            <path fill=""
                                d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
                            </path>
                        </svg></p>
                    <div class="particularData flex">
                        <div class="project-refr">
                            <p class="inName uppercase">Ref No.</p>
                            <p class="inData">01/F/6C</p>
                        </div>
                        <div class="project-refr">
                            <p class="inName uppercase">Project name</p>
                            <p class="inData">Commercial Residential Complex City</p>
                        </div>
                    </div>
                    <table class="itemsTable">
                        <thead>
                            <tr>
                                <th class="uppercase">Sl No.</th>
                                <th class="uppercase">Particulars</th>
                                <th class="uppercase">quantity</th>
                                <th class="uppercase">amount</th>
                                <th class="uppercase">action</th>
                            </tr>
                        </thead>
                        <tbody id="tableData">
                        </tbody>
                        <tbody>
                            <tr class="tableData">
                                <td class="uppercase">Total</td>
                                <td>&#8377; <span id="totalAmount">50,000</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>


        <!-- JAVASCRIPT -->
        <script src="../../js/admin/header.js"></script>
        <script src="/js/admin/common.js"></script>
        <script src="/js/admin/inventory.js"></script>
</body>

</html>
