<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STYLE PERFECT INTERIOR | Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/admin/main.css">
    <link rel="stylesheet" href="../../css/darkMode.css">
    <link rel="stylesheet" href="../../css/admin/header.css">
    <link rel="stylesheet" href="../../css/admin/responsive.css">
    <link rel="stylesheet" href="../../css/admin/vendor_supplies.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/admin/dashboard.module.js"></script>
</head>

<body>
    <%- include('../partials/admin.header.ejs') %>
        <!-- MAIN SECTION STARTS HERE  -->
        <main class="main" data-app-page="supply">
            <!------------- Supply-OVERALL-------------  -->
            <div class="supplierContainer">
                <h4 class="uppercase">Supplies</h4>
                <button class="uppercase" onclick="openVendorSupplyForm('add')" id="">
                    <span>Add supplies</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                        <path fill="##000000"
                            d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                        </path>
                    </svg>
                </button>
            </div>
            <!-- ----------- SUPPLY TABLE----------- -->
            <div class="data-info box box2">
                <!-- headings -->
                <div class="info-head finegrid">
                    <p class="uppercase phead none">Ref.</p>
                    <p class="uppercase phead none">Vendor</p>
                    <p class="uppercase phead none">Item</p>
                    <p class="uppercase phead none">Total Amount</p>
                    <p class="uppercase phead none">Paid</p>
                    <p class="uppercase phead none">Mode Of Pay</p>
                    <p class="uppercase phead none">Date </p>
                    <p class="uppercase phead none">Action</p>
                    <!-- ------resposnive class------- -->
                </div>

                <!-- ----------project information----------- -->
                <div class="info-content content">
                    <% data[0]?.forEach((e)=>{ %>
                    <!-- --------1st project---------  -->
                        <div class="accordion-content" data-dealId="<%= e?.id %>">
                            <div class="ahead finegrid">
                                <p class="ref">
                                    <span class="uppercase hide block phead">Ref. No.</span>
                                    <span>
                                        <%= e?.id %>
                                    </span>
                                </p>
                                <p class="pro">
                                    <span class="uppercase hide block phead">name of work</span>
                                    <span>
                                        <%= e?.name %>
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span id="item-name">
                                        <%= e?.item_name %>
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span id="total-amount">
                                        <%= e?.total_amount %>
                                    </span>
                                    <span>/-</span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span>
                                        <%= e?.paid %>/-
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span id="modeofpay" data-status="<%= e?.modeofpay %>">
                                        <%= e?.modeofpay %>
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span id="dayofadd">
                                        <%= e?.date %>
                                    </span>
                                </p>
                                <p class="flexy">
                                    <span class="edit-btn" data-refid="<%= e?.id %>" onclick="openVendorSupplyForm('edit', event, this)">Edit</span>
                                    <span data-refid="<%= e?.id %>" class="butt" onclick="deleteSupply(event, this)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                            id="trash-alt" class="icon">
                                            <path fill=""
                                                d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18ZM20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Zm-3-1a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z">
                                            </path>
                                        </svg></span>

                                </p>

                                <p class="arrow-down action-icons">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-down"
                                        class="svg">
                                        <path fill="##000000"
                                            d="M11.29,11.46a1,1,0,0,0,1.42,0l3-3A1,1,0,1,0,14.29,7L12,9.34,9.71,7A1,1,0,1,0,8.29,8.46Zm3,1.08L12,14.84l-2.29-2.3A1,1,0,0,0,8.29,14l3,3a1,1,0,0,0,1.42,0l3-3a1,1,0,0,0-1.42-1.42Z">
                                        </path>
                                    </svg>
                                </p>
                            </div>


                            <!-- ----------open data for accordion---------- -->
                            <div class="adata data">
                                <!-- --INSTALLMENT-- -->
                                <div class="finegrid">
                                    <p></p>

                                    <p>
                                        <span class="uppercase phead">Details</span>
                                        <span id="details">
                                            <%= e?.details %>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="uppercase phead">Vendor Location</span>
                                        <span>
                                            <%= e?.location %>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="uppercase phead">Vendor Contact</span>
                                        <span>
                                            <%= e?.contact %>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="uppercase phead">GST</span>
                                        <span>
                                            <%= e?.cgst+e?.sgst %>(<%= e?.cgst %> | <%= e?.sgst %>)%
                                        </span>
                                    </p>
                                    <p>
                                        <span class="uppercase phead">GST STATUS</span>
                                        <span id="gst-status" data-status="<%= e?.gst_status %>">
                                             <%= e?.gst_status == 'yes' ? 'with GST' : 'without GST' %>
                                        </span>
                                    </p>

                                </div>
                            </div>
                            <!-- ---------------  -->
                        </div>
                     <% }) %>
                    </div>
                    <%- include('../partials/pagin.ejs') %>
                <!-- ------------------------------ -->
            </div>

            <!-- ----------------------------  -->
            <div class="suppliers-form hidden" id="vendor-supply-from-div">
                <div class="suppliers">
                    <form id="vendor-supply-form">
                        <div class="fiend flex">
                            <label for="" onchange="" class="select">Select a Vendor</label>
                            <select name="vendor_id" id="" class="select">
                                <option value="">select vendor</option>
                                <% data[1]?.forEach((ven)=>{ %>
                                    <option value="<%= ven.id %>">
                                        <%= ven.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>

                        <div class="sgrid">
                            <!-- -- PROJECT DETAILS--  -->
                            <div class="supplies-inv">
                                <!-- --PARTICULARS-- -->

                                <div class="sup-particular flex"><!-- Append custom ITEM -->
                                    <div class="field">
                                        <label for="" class="uppercase">Date</label>
                                        <input name="date" type="text">
                                    </div>
                                    <div class="field">
                                        <label for="" class="uppercase">Particulars</label>
                                        <input type="text" name="item_name" id="">
                                    </div>
                                    <div class="field">
                                        <label for="" class="uppercase">details</label>
                                        <input type="text" name="details" id="">
                                    </div>
                                    <div class="field">
                                        <label for="" class="uppercase">Mode of pay</label>
                                        <select name="modeofpay" id="">
                                            <option value="cash">Cash</option>
                                            <option value="credit">Credit</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <label for="" class="uppercase">GSt</label>
                                        <select name="gst_status" id="">
                                            <option value="yes">GST</option>
                                            <option value="no">WITHOUT GST</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <label for="" class="uppercase">total Amount(&#8377;)</label>
                                        <input type="text" name="total_amount" id="">
                                    </div>

                                    <!-- --------------  -->
                                </div>
                            </div>

                            <div class="supplies-btn flex">
                                <button class="uppercase" type="submit"
                                    onclick="addVendorSupplyFormSubmit(event)">update</button>
                                <button class="uppercase" onclick="closeVendorSupplyForm('vendor-supply-from-div',event)">cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="edit-suppliers-form hidden" id="vendor-supply-edit-form">
                <div class="edit-form">
                    <div class="field">
                        <label for="">Vendor Name</label>
                        <p class="uppercase ref">KAnkan</p>
                    </div>

                    <div class="sgrid">
                        <!-- -- PROJECT DETAILS--  -->
                        <div class="supplies-inv">
                            <!-- --PARTICULARS-- -->
                        <form id="update-supply-form">
                            <div class="sup-particular flex"><!-- Append custom ITEM -->
                                <div class="field">
                                    <label for="" class="uppercase">Date</label>
                                    <input name="dayofadd" type="text" id="dayofadd">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Particulars</label>
                                    <input type="text" name="item_name" id="item_name">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">details</label>
                                    <input type="text" name="details" id="details">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Mode of pay</label>
                                    <select name="modeofpay" id="modeofpay">
                                        <option value="cash">Cash</option>
                                        <option value="credit">Credit</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">GSt</label>
                                    <select name="gst_status" id="gst_status">
                                        <option value="yes">GST</option>
                                        <option value="no">WITHOUT GST</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">total Amount(&#8377;)</label>
                                    <input type="text" name="total_amount" id="total_amount">
                                </div>
                                <!-- --------------  -->
                            </div>
                        </form>
                        </div>

                        <div class="supplies-btn flex">
                            <button id="update-supply-btn" class="uppercase" type="submit" data-supplyid=""
                                onclick="updateVendorSupplyFormSubmit(event, this)">update</button>
                            <button class="uppercase" onclick="closeVendorSupplyForm('vendor-supply-edit-form', event)">cancel</button>
                        </div>
                    </div>

                </div>
            </div>

        </main>
        </section>


        <!-- JAVASCRIPT -->
        <script src="../../js/admin/header.js"></script>
        <script src="../../js/admin/common.js"></script>
        <script src="../../js/admin/vendor_supplies.js"></script>
</body>

</html>