<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STYLE PERFECT INTERIOR | Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/admin/main.css">
    <link rel="stylesheet" href="../../css/darkMode.css">
    <link rel="stylesheet" href="../../css/admin/header.css">
    <link rel="stylesheet" href="../../css/admin/responsive.css">
    <link rel="stylesheet" href="../../css/admin/vendor_supplies.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/admin/dashboard.module.js"></script>
</head>

<body>
    <%- include('../partials/admin.header.ejs') %>
        <!-- MAIN SECTION STARTS HERE  -->
        <main class="main" data-app-page="supply">
            <!------------- Supply-OVERALL-------------  -->
            <div class="supplierContainer">
                <h4 class="uppercase">Supplies</h4>
                <button class="uppercase" onclick="" id="">
                    <span>Add supplies</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                        <path fill="##000000"
                            d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                        </path>
                    </svg>
                </button>
            </div>
            <!-- ----------- SUPPLY TABLE----------- -->
            <div class="data-info box box2">
                <!-- headings -->
                <div class="info-head finegrid">
                    <p class="uppercase phead none">Ref.</p>
                    <p class="uppercase phead none">Vendor</p>
                    <p class="uppercase phead none">Item</p>
                    <p class="uppercase phead none">Total Amount</p>
                    <p class="uppercase phead none">Paid</p>
                    <p class="uppercase phead none">Quantity</p>
                    <p class="uppercase phead none">Date </p>
                    <p class="uppercase phead none">Mode</p>
                    <!-- ------resposnive class------- -->
                </div>
                <!-- ----------project information----------- -->
                <div class="info-content content">
                    <!-- --------1st project---------  -->
                    <% data?.forEach((e)=>{ %>
                        <div class="accordion-content" data-dealId="<%= data.id %>">
                            <div class="ahead finegrid">
                                <p class="ref">
                                    <span class="uppercase hide block phead">Ref. No.</span>
                                    <span>
                                        <%= e?.id %>
                                    </span>
                                </p>
                                <p class="pro">
                                    <span class="uppercase hide block phead">name of work</span>
                                    <span>
                                        <%= e?.name %>
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span>
                                        <%= e?.item_name %>
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span>
                                        <%= e?.total_amount %>/-
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span>
                                        <%= e?.paid %>/-
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span>
                                        <%= e?.quantity %>
                                            <%= e?.uom %>
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span>
                                        <%= e?.date %>
                                    </span>
                                </p>
                                <p class="emp_date">
                                    <span class="uppercase hide block phead"></span>
                                    <span>
                                        <%= e?.modeofpay %>
                                    </span>
                                </p>

                                <p class="arrow-down action-icons">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-down"
                                        class="svg">
                                        <path fill="##000000"
                                            d="M11.29,11.46a1,1,0,0,0,1.42,0l3-3A1,1,0,1,0,14.29,7L12,9.34,9.71,7A1,1,0,1,0,8.29,8.46Zm3,1.08L12,14.84l-2.29-2.3A1,1,0,0,0,8.29,14l3,3a1,1,0,0,0,1.42,0l3-3a1,1,0,0,0-1.42-1.42Z">
                                        </path>
                                    </svg>
                                </p>
                            </div>


                            <!-- ----------open data for accordion---------- -->
                            <div class="adata data">
                                <!-- --INSTALLMENT-- -->
                                <div class="finance_expand">
                                    <div class="installment flex">
                                        <div class="field">
                                            <p class="uppercase">Details</p>
                                            <p class="date">
                                                <%= e?.details %>
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="uppercase">Vendor Location</p>
                                            <p class="date">
                                                <%= e?.location %>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="installment flex">
                                        <div class="field">
                                            <p class="uppercase">Vendor Contact</p>
                                            <p class="date">
                                                <%= e?.contact %>
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="uppercase">Rate</p>
                                            <p class="amount">
                                                <%= e?.rate %>
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="uppercase">GST</p>
                                            <p class="mode">
                                                <%= e?.cgst+e?.sgst %>(<%= e?.cgst %>|<%= e?.sgst %>)%
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <!-- ---------------  -->
                            </div>
                        </div>
                        <% }) %>
                            <!-- ------------------------------ -->
                </div>

                <!-- ----------PAGINATION--------- -->
                <%- include('../partials/pagin.ejs') %>
            </div>


            <div class="suppliers-form">
                <div class="suppliers">
                    <div class="fiend flex">
                        <label for="" onchange="" class="select">Select a Vendor</label>
                        <select name="" id="" class="select">
                            <option value="">Kankan</option>
                            <option value="">Kankan</option>
                        </select>
                    </div>

                    <div class="sgrid">
                        <!-- -- PROJECT DETAILS--  -->
                        <div class="supplies-inv">
                            <!-- --PARTICULARS-- -->
                            <div class="sup-particular flex"><!-- Append ANOTHER ITEM -->
                                <div class="field">
                                    <label for="" class="uppercase">Particulars</label>
                                    <select name="particulars" id="particulars">
                                        <option value="_" disabled="disabled" selected="selected">Select
                                        </option>
                                    </select>
                                </div>

                                <div class="field gst">
                                    <label for="" class="uppercase">GST Rate(%)</label>
                                    <input type="text" name="rate" id="rate">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Quantity</label>
                                    <input type="text" name="quantity" id="quantity">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Rate(&#8377;)</label>
                                    <input type="text" name="rate" id="rate">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Amount(&#8377;)</label>
                                    <input type="text" name="amount" id="amount">
                                </div>
                                <div class="field gst">
                                    <label for="" class="uppercase">sGST(&#8377;)</label>
                                    <input type="text" name="amount" id="amount">
                                </div>
                                <div class="field gst">
                                    <label for="" class="uppercase">cgst(&#8377;)</label>
                                    <input type="text" name="amount" id="amount">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Total(&#8377;)</label>
                                    <input type="text" name="amount" id="amount">
                                </div>

                                <!-- --------------  -->
                            </div>
                            <!-- ----------------------------  -->
                            <div class="sup-particular flex"><!-- Append custom ITEM -->
                                <div class="field">
                                    <label for="" class="uppercase">Particulars</label>
                                    <input type="text" name="particulars" id="">
                                </div>
                                <div class="field gst">
                                    <label for="" class="uppercase">GST Rate(%)</label>
                                    <input type="text" name="rate" id="rate">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Quantity</label>
                                    <input type="text" name="quantity" id="">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Rate(&#8377;)</label>
                                    <input type="text" name="rate" id="">
                                </div>
                                <div class="field">
                                    <label for="" class="uppercase">Amount(&#8377;)</label>
                                    <input type="text" name="amount" id="">
                                </div>
                                <div class="field gst">
                                    <label for="" class="uppercase">sGST(&#8377;)</label>
                                    <input type="text" name="amount" id="amount">
                                </div>
                                <div class="field gst">
                                    <label for="" class="uppercase">cgst(&#8377;)</label>
                                    <input type="text" name="amount" id="amount">
                                </div>
                                <div class="field gst">
                                    <label for="" class="uppercase">Total(&#8377;)</label>
                                    <input type="text" name="amount" id="amount">
                                </div>
                                <div class="field">
                                    <span class="btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                            id="trash-alt" class="svg">
                                            <path fill=""
                                                d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18ZM20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Zm-3-1a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z">
                                            </path>
                                        </svg></span>
                                </div>
                                
                                <!-- --------------  -->
                            </div>
                        </div>

                        <div class="fend flex">
                            <label for="" onchange="">Total</label>
                            <p class="uppercase">&#8377; <span>50,000</span></p>
                        </div>
                        <!-- -----------  -->
                        <!-- --ADD GST BUTTON-- -->
                         <div class="supplies-add-item flex">
                            <button type="button" class="uppercase">
                                <span>Add GST</span>
                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" id="percentage"><path d="M7.75781,10.75781a3,3,0,1,0-3-3A3.00328,3.00328,0,0,0,7.75781,10.75781Zm0-4a1,1,0,1,1-1,1A1.00067,1.00067,0,0,1,7.75781,6.75781Zm8.48438,6.48438a3,3,0,1,0,3,3A3.00328,3.00328,0,0,0,16.24219,13.24219Zm0,4a1,1,0,1,1,1-1A1.00067,1.00067,0,0,1,16.24219,17.24219ZM19.707,4.293a.99962.99962,0,0,0-1.41406,0l-14,14A.99989.99989,0,1,0,5.707,19.707l14-14A.99962.99962,0,0,0,19.707,4.293Z"></path></svg>
                            </button>
                         </div>
                        <!-- ---ADD ANOTHER FIELD BUTTON--  -->
                        <div class="supplies-add-item flex">
                            <button class="uppercase" type="button" onclick="addField()" id="">
                                <span>Add another field</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                                    <path fill="##000000"
                                        d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                                    </path>
                                </svg>
                            </button>
                            <button class="uppercase" type="button" onclick="addCustomField()" id="">
                                <span>Add custom field</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="plus-circle">
                                    <path fill="##000000"
                                        d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm4-9H13V8a1,1,0,0,0-2,0v3H8a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0V13h3a1,1,0,0,0,0-2Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        
                        <div class="supplies-btn flex">
                            <button class="uppercase" type="submit" onclick="addInventoryItem(event)">update</button>
                            <button class="uppercase" type="reset" onclick="closeInventoryExpense()">cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        </section>


        <!-- JAVASCRIPT -->
        <script src="../../js/admin/header.js"></script>
        <script src="../../js/admin/common.js"></script>
        <script src="../../js/admin/project.finance.js"></script>
</body>

</html>